nav {
  background-color: grey;
  font-family: Arial;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  font-size: 20px;
  float:left;
}
.about {
  float: left;
}
.image {
  float: right;
  width: 500px;
  height: 700px;
}
body {
  background-color: blue;
}
